//https://www.icolorpalette.com/download/shades/eeebe3_color_shades.jpg
* {
  box-sizing: border-box;
  //border: 1px solid black;
}

/////////////////////////////////////
/// GENERAL 
/////////////////////////////////////

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: $font-family-sans-serif;
  font-size: 16px;
  line-height: 24px;
  background-color: $fons;
  color: $lletra;
}

.container {
  max-width: 800px;
}

a {
  text-decoration: none;
}


/// PORTADA
/// 

.portada{
  background-color: $links;
}

.portada-grid {
  margin: auto;
  text-align: center;
}

.torneig-titol {
  font-family: $font-family-serif;
  font-weight: 700;
}

.torneig-dates {
  font-family: $font-family-serif;
}

.torneig-presentacio {
  font-family: $font-family-serif;
}

@supports (display: grid){
  @media (min-width: $mqMinWidth){
    .portada-grid {
      display: grid;
      grid-template-rows: repeat(7, 1fr);
      grid-template-columns: repeat(9, 1fr);
    }
    .torneig-foto{
      grid-column: 1 / 10;
      grid-row: 1 / 7;
    }
    .torneig-titol{
      grid-column: 5;
      grid-row: 2 / 5;
      z-index: 2;
      writing-mode:vertical-rl;
      color: $fons;
    } 
    .torneig-dates{
      grid-column: 8 / 10;
      grid-row: 6 / 7;
      z-index: 2;
      color: $fons;
      background-color: red;
      align-self:flex-end;
    }
    .torneig-presentacio{
      grid-column: 1 / 10;
      grid-row: 7;
    }
    p {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

/////////////////////////////////////
/// NAV BAR HEADER I FOOTER
/////////////////////////////////////
@media (min-width: $mqMinWidth){
  .logo-line{
    display: flex;
    justify-content: space-between;
  }
}

.pages-navigator{
  display: inline-block;

  ul {
    display:inline-block;
    padding-left: 0;
  }

  ul li {
    display: inline-block;
    padding-left: 1rem;
  }
}

//FOOTER
.chess-footer, .chess-header {
  padding-top: 1.5rem;
  text-align: center;
}


/////////////////////////////////////
/// JUGADORS
/////////////////////////////////////

.card {
  margin-bottom: 0.75rem;
  max-width: 250px;
  min-width: 150px;
}

.cartes{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 10px;
}

.GM-name{
  font-weight: 700;
}

.GM-body{
  margin-bottom: 1rem;
}

/////////////////////////////////////
/// SICILIANA
///////////////////////////////////// 

.col{
  min-width: 250px;
}

.blockquote, .blockquote-footer{
  margin: 0.5rem;
}

.accordion-foto{
  display: grid;
  grid-template-columns: 2fr;
}


.accordion-body__left-column{
  grid-column: 1;
}

.accordion-body__right-column{
  grid-column: 2;
}

/// 
/// FORM
/// 
.formulari .form-group{
  margin-top: 1rem;
}