* {
  box-sizing: border-box;
  //border: 1px solid black;
}

/////////////////////////////////////
/// GENERAL 
/////////////////////////////////////

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 2rem;
  font-family: $font-family-sans-serif;
  font-size: 16px;
  line-height: 24px;
  background-color: $blanc;
  color: $lletra;
}

.container {
  max-width: 800px;
}

a {
  text-decoration: none;
}

.fonts {
  font-size: 0.9rem;
}

/////////////////////////////////////
///  PORTADA
/////////////////////////////////////
.poster {
  font-family: $font-family-serif;
}

.poster__titol {
  font-weight: 700;
}

@supports (display: grid){
  @media (min-width: $mqMinWidth){
    .poster {
      display: grid;
      grid-template-rows: repeat(8, 1fr);
      grid-template-columns: repeat(9, 1fr);
    }
    .poster__foto{
      grid-column: 1 / 10;
      grid-row: 1 / 7;
    }
    .poster__titol{
      grid-column: 3/8;
      grid-row: 2 / 5;
      z-index: 2;
      color: $blanc;
      letter-spacing: 5px;
    } 
    .poster__dates{
      grid-column: 6 / 10;
      grid-row: 6 / 7;
      z-index: 2;
      color: $blanc;
      background-color: $vermell;
      align-self:flex-end;
    }
    .poster__participants{
      grid-column: 1 / 3;
      grid-row: 5 / 7;
      z-index: 2;
      color: $blanc;
      background-color: black;
      align-self:flex-end;
    }
    .poster__premi{
      grid-column: 3 / 6;
      grid-row: 5 / 7;
      z-index: 2;
      color: $blanc;
      background-color: rgb(201, 168, 37);
      align-self:flex-end;
    }
    .poster__presentacio{
      grid-column: 1 / 10;
      grid-row: 7 / 9;
      align-self: center;
    }
    p {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  @media (min-width: $mqMediumWidth){
    .poster{
      grid-template-rows: repeat(7, 1fr);
    }
  }
}

/////////////////////////////////////
/// NAV BAR
/////////////////////////////////////
@media (min-width: $mqMinWidth){
  .logo-line{
    display: flex;
    justify-content: space-between;
  }
}

.logo-line__navigator{
  display: inline-block;

  ul {
    display:inline-block;
    padding-left: 0;
  }

  ul li {
    display: inline-block;
    padding-left: 1rem;
  }
}

/////////////////////////////////////
/// HEADER I FOOTER
/////////////////////////////////////
.chess-footer, .chess-header {
  padding-top: 1.5rem;
  text-align: center;
}


/////////////////////////////////////
/// JUGADORS
/////////////////////////////////////

.card {
  margin-bottom: 0.75rem;
  max-width: 250px;
  min-width: 150px;
}

.cartes{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 10px;
}

.gm--name{
  font-weight: 700;
}

.gm--body{
  margin-bottom: 1rem;
}

/////////////////////////////////////
/// SICILIANA
///////////////////////////////////// 

.col{
  min-width: 250px;
}

.blockquote, .blockquote-footer{
  margin: 0.5rem;
}

.accordion-foto{
  display: grid;
  grid-template-columns: 2fr;
}


.accordion-body__left-column{
  grid-column: 1;
}

.accordion-body__right-column{
  grid-column: 2;
}

///////////////////////////////////// 
/// FORMULARI
///////////////////////////////////// 
.form-group{
  margin-top: 1rem;
}