<footer class="chess-footer container">
    <p>
        Torneig d'escacs organitzat per Marcel W. 
    </p>
    <p>
        T'hi atreveixes?
    </p>
    <hr>
    <div class="logo-line">
        <p>&copy; ESCAC MAT</p>
        <nav class="logo-line__navigator">
            <ul>
                <li><a href="index.html">Portada</a></li>
                <li><a href="jugadors.html">Jugadors</a></li>
                <li><a href="siciliana.html">Siciliana</a></li>
                <li><a href="apuntat.html">Apunta't</a></li>
            </ul>
        </nav>
        <nav class="logo-line__navigator">
            <ul class="logo-line__list">
                <li class="logo-line__list-item"><a href=""><i class="fa-brands fa-google-plus-g"></i></a></li>
                <li class="logo-line__list-item"><a href=""><i class="fa-brands fa-square-facebook"></i></a></li>
                <li class="logo-line__list-item"><a href=""><i class="fa-brands fa-twitter"></i></a></li>
            </ul>
        </nav>
    </div>

</footer>