<footer class="container text-center">
    <p class="repete">
        Torneig d'escacs organitzat per Marcel W. 
    </p>
    <p class="repte">
        T'hi atreveixes?
    </p>
    <hr>
    <div class="navegacio">
        <p class="navegacio__text">&copy; ESCAC MAT</p>
        <nav class="navegacio__pagines">
            <ul class="navegacio__pagines-llista">
                <li><a href="index.html">Portada</a></li>
                <li><a href="jugadors.html">Jugadors</a></li>
                <li><a href="siciliana.html">Siciliana</a></li>
                <li><a href="apuntat.html">Apunta't</a></li>
            </ul>
        </nav>
        <nav class="navegacio__pagines">
            <ul class="navegacio__pagines-llista">
                <li class="navegacio__pagines-element"><a href=""><i class="fa-brands fa-google-plus-g"></i></a></li>
                <li class="navegacio__pagines-element"><a href=""><i class="fa-brands fa-square-facebook"></i></a></li>
                <li class="navegacio__pagines-element"><a href=""><i class="fa-brands fa-twitter"></i></a></li>
            </ul>
        </nav>
    </div>
</footer>