<header class="container chess-header">
    <div class="logo-line">
        <p class="logo-line__text">&copy; ESCAC MAT</p>
        <nav class="logo-line__navigator">
            <ul class="logo-line__list">
                <li class="logo-line__list-item"><a href="jugadors.html">Jugadors</a></li>
                <li class="logo-line__list-item"><a href="siciliana.html">Siciliana</a></li>
                <li class="logo-line__list-item"><a href="apuntat.html">Apunta't</a></li>
            </ul>
        </nav>
    </div>
</header>