<header class="container text-center">
    <div class="navegacio">
        <p class="navegacio__text">&copy; ESCAC MAT</p>
        <nav class="navegacio__pagines">
            <ul class="navegacio__pagines-llista">
                <li class="navegacio__pagines-element"><a href="jugadors.html">Jugadors</a></li>
                <li class="navegacio__pagines-element"><a href="siciliana.html">Siciliana</a></li>
                <li class="navegacio__pagines-element"><a href="apuntat.html">Apunta't</a></li>
            </ul>
        </nav>
    </div>
</header>