@use "sass:color";

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;

$fons: #F8F7F3;
$lletra: #0a0906; 
$links: #dbd5c4;

$mqMinWidth: 550px;

$theme-colors: (
  "primary": #bada55,
  "info": rgb(0, 157, 255),
  "danger": red
);

$badge-padding-x: 0.6rem;
$badge-padding-y: 0.3rem;
